{% extends "global/Page.html" %}
{% load otree static %}
{% block scripcts %}
<script>
    document.querySelector('[name=age]').value = 0;
    document.querySelector('[name=gender]').value = "";
    document.querySelector('[name=employment]').value = ;
    // document.querySelector('[name=subject]').value = "";
    document.querySelector('[name=politicalOrientation]').value = 0;

</script>
{% endblock %}
{% block content %}
<!-- ------------------------------- Header -------------------------------- -->
<div class="outer-head-div">
    <span class="inner-head-div-text new-title">
        <!-- Title -->
    </span>

    <div class="inner-head-div-logo">
        <img src="{% static 'Hypothesentesten/hd-logo-sw.png' %}" class="logo"/>
    </div>
</div>
<hr style="margin-top:1px; margin-bottom:15px;">
<!-- ------------------------------- Header -------------------------------- -->


<!-- comments -->
<div class="comments">
    - kein Studienfach da Prolific?
</div>


<h1>
    Persönliche Angaben
</h1>


<p>
    Nun möchten wir Sie bitten, einige generelle Fragen
    zu beantworten.
</p>


<!-- Alter -->
<div class="multiple-choice-div">
    <div class="m-c-question">
    Wie alt sind Sie?<br>
    </div>
    Alter: <input type="number" id="age" name="age" value="">
</div>


<!-- Gender -->
<div class="multiple-choice-div">
    <div class="m-c-question">
    Welchem Geschlecht ordnen Sie sich zu?<br>
    </div>
    <input type="radio" id="gend1" name="gender" value="w">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="gend1">Weiblich</label>
    <br>
    <input type="radio" id="gend2" name="gender" value="m">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="gend2">Männlich</label>
    <br>
    <input type="radio" id="gend3" name="gender" value="d">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="gend3">Divers</label>
</div>


<!-- employment -->
<div class="multiple-choice-div">
    <div class="m-c-question">
    Welcher Beschäftigung gehen Sie aktuell nach?<br>
    </div>
    <input type="radio" id="employ1" name="employment" value="1">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="employ1">Student*in</label>
    <br>
    <input type="radio" id="employ2" name="employment" value="2">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="employ2">Schüler*in</label>
    <br>
    <input type="radio" id="employ3" name="employment" value="3">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="employ2">Berufstätige*r</label>
    <br>
    <input type="radio" id="employ4" name="employment" value="4">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="employ2">Rentner*in</label>
    <br>
    <input type="radio" id="employ5" name="employment" value="5">
    <div class="m-c-besides-button"></div>
    <label class="multiple-choice-label" for="employ2">Arbeitslose*r</label>
</div>


<!-- Studienfach -->
<!-- <div class="multiple-choice-div">
    <div class="m-c-question">
    Welches (Haupt-)Fach studieren Sie?<br>
    </div>
    Fach: <input type="text" id="subject" name="subject" value="">
</div> -->


<!-- Slider: Political Orientation -->
<div class="multiple-choice-div">
    <div class="m-c-question" style="font-weight:100;">
    Wo würden Sie sich, bzw. Ihre politische Einstellung, einordnen?<br>
    </div>
        <label class="multiple-choice-label" style="margin-bottom: 0px; float:left">Links</label>
        <label class="multiple-choice-label" style="margin-bottom: 0px; margin-right:auto; margin-left: auto;">Mitte</label>
        <label class="multiple-choice-label" style="margin-bottom: 0px; float:right;">Rechts</label>
        <br>
        <input type="range" class="slider" style="width:100%; display:block; margin-left:1.5px;"
        name="politicalOrientation"  min="1" max="9" step="1" >
        <br>
        <div class="" style="margin-top:-25px; width:100%">
            <div class="" style="display:inline; color:#ccc; height:10px; width:2px; margin-bottom:10px; margin-left:1%;">
                I
            </div>
            <div class="" style="display:inline; color:#ccc; height:10px; width:2px; margin-bottom:10px; margin-left:11%;">
                I
            </div>
            <div class="" style="display:inline; color:#ccc; height:10px; width:2px; margin-bottom:10px; margin-left:11%;">
                I
            </div>
            <div class="" style="display:inline; color:#ccc; height:10px; width:2px; margin-bottom:10px; margin-left:11.1%;">
                I
            </div>
            <div class="" style="display:inline; color:#ccc; height:10px; width:2px; margin-bottom:10px; margin-left:11%;">
                I
            </div>
            <div class="" style="display:inline; color:#ccc; height:10px; width:2px; margin-bottom:10px; margin-left:11.1%;">
                I
            </div>
            <div class="" style="display:inline; color:#ccc; height:10px; width:2px; margin-bottom:10px; margin-left:11%;">
                I
            </div>
            <div class="" style="display:inline; color:#ccc; height:10px; width:2px; margin-bottom:10px; margin-left:11.05%;">
                I
            </div>
            <div class="" style="display:inline; color:#ccc; height:10px; width:2px; margin-bottom:10px; margin-left:11%;">
                I
            </div>

        </div>
</div>


<!-- ------------------- Next-Button und Bottom-Line ---------------- -->

<br>
<button class="otree-btn-next btn btn-primary">Weiter</button>

<hr>
<p> <a href="mailto: lob@stud.uni-heidelberg.de" target="_blank">Aaron Lob</a>, Universität Heidelberg  - 2020</p>

{% endblock %}
